<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net" version="1.10.1" targetFramework="net461" />
  <package id="Notification.Mail" version="1.0.0" targetFramework="net461" />
  <package id="Notification.Mail.SMTP" version="1.0.0" targetFramework="net461" />
  <package id="NotificationBase" version="1.0.0" targetFramework="net461" />
</packages>